
h1 {
    background-color: rgb(198, 198, 245) ;
    border: 3px solid green;
    text-align: center;
}

body {
    background-color : rgb(167, 132, 132) ;
    font-family: 'Genos', sans-serif;
    text-align: center;
    font-size: 30px ;
}

hr {
    border: 3px solid rgb(54, 87, 109) ;
    border-bottom: 8px ;
}

.identity-values {
    font-family: 'Genos', sans-serif;
    font-size: 30px ;
    font-style: italic ;
    text-align: centre ;
    border: 5px solid rgb(198, 198, 245) ;
    margin: 9px ;
    padding: 4px ;
}

.learning-plan {
    font-family: 'Genos', sans-serif;
    font-size: 30px ;
    font-style: italic ;
    text-align: centre;
    border: 5px solid rgb(54, 54, 230) ;
    margin: 3px ;
    padding: 4px ;
}

.research-question {
    font-family: 'Genos', sans-serif;
    font-size: 30px ;
    font-style: italic ;
    text-align: centre ;
    border: 5px solid rgb(198, 198, 245) ;
    margin: 3px ;
    padding: 4px ;
}

.Technical-Blog-JS-Fundamentals {
    font-family: 'Genos', sans-serif;
    font-size: 30px ;
    font-style: italic ;
    text-align: centre ;
    border: 5px solid rgb(54, 54, 230) ;
    margin: 3px ;
    padding: 4px ;
}

.Mindset {
    font-family: 'Genos', sans-serif;
    font-size: 30px ;
    font-style: italic ;
    text-align: centre ;
    border: 5px solid rgb(198, 198, 245) ;
    margin: 3px ;
    padding: 4px ;
}

.Minesweeper {
    font-family: 'Genos', sans-serif;
    font-size: 30px ;
    font-style: italic ;
    text-align: centre ;
    border: 5px solid rgb(54, 54, 230) ;
    margin: 3px ;
    padding: 4px ;
}

.foundations-reflection {
    font-family: 'Genos', sans-serif;
    font-size: 30px ;
    font-style: italic ;
    text-align: centre ;
    border: 5px solid rgb(198, 198, 245) ;
    margin: 3px ;
    padding: 4px ;
}