
h1 {
    background-color: rgba(137, 194, 196, 0.863) ;
    border: 3px solid green;
    text-align: center;
}

body {
    background-color : rgb(167, 132, 132) ;
    font-family: 'Genos', sans-serif;
    text-align: center;

}

.cloud-button {
    font-family: 'Genos', sans-serif;
    font-size: 25px ;
    font-style: italic ;
    padding: 30px ;
    text-align: centre ;
}

.rain-button {
    font-family: 'Genos', sans-serif;
    font-size: 25px ;
    font-style: italic ;
    padding: 30px ;
    text-align: centre ;
}

.moon-button {
    font-family: 'Genos', sans-serif;
    font-size: 25px ;
    font-style: italic ;
    padding: 30px ;
    text-align: centre ;
}

.mist-button {
    font-family: 'Genos', sans-serif;
    font-size: 25px ;
    font-style: italic ;
    padding: 30px ;
    text-align: centre ;
}