
h1 {
    background-color: rgb(212, 112, 112) ;
    border: 3px solid green;
    text-align: center;
    margin-bottom:  70px ;
    padding: 30px ;
}

body {
    background-color : rgb(212, 112, 112) ;
    font-family: 'Genos', sans-serif;
    text-align: center;
    text-size-adjust: 90px ;
    margin-top: 20px ;
    margin-bottom: 20px ;
}

 .div cloud-button {
    font-family: 'Genos', sans-serif;
    font-size: 25px ;
    font-style: italic ;
    padding: 30px ;
    text-align: centre ;
    border: 3px solid green ;
    margin-top: 100px ;
    margin-bottom: 50px ;
}
.div rain-button {
    font-family: 'Genos', sans-serif;
    font-size: 25px ;
    font-style: italic ;
    padding: 30px ;
    text-align: centre ;
    border: 3px solid green ;
    margin-top: 7000px ;
    margin-bottom: 100px ;
    bottom: 500px ;
}
